<header>
  <div class="container">
    <div class="navBar" id="navBar">
      <a class="navBar-logo" routerLink="/browse" routerLinkActive="active">Logo</a>
      <ul class="navBar-list">
        <li class="navBar-item"><a [routerLink]="['/browse']" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact:
true}">Home</a></li>
        <li class="navBar-item"><a [routerLink]="['/browse/books']" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact:
true}">Books</a></li>
        <li class="navBar-item"><a [routerLink]="['/browse/comics']" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact:
true}">Comics</a></li>
        <li class="navBar-item"><a [routerLink]="['latest']" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact:
true}">Latest</a></li>
        <li class="navBar-item"><a [routerLink]="['my-list']" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact:
true}">MyList</a></li>
      </ul>
    </div>
  </div>
</header>



