<div class="container">
  <div class="navBar">
    <ul class="navBar-list">
      <li class="navBar-item"><a routerLink="/browse" routerLinkActive="active">Home</a></li>
      <li class="navBar-item"><a routerLink="/browse/books" routerLinkActive="active">Books</a></li>
      <li class="navBar-item"><a routerLink="comics" routerLinkActive="active">Comics</a></li>
      <li class="navBar-item"><a routerLink="latest" routerLinkActive="active">Latest</a></li>
      <li class="navBar-item"><a routerLink="mylist" routerLinkActive="active">MyList</a></li>
    </ul>
  </div>
</div>



