header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: .6s;
  z-index: 1000;
}

header.sticky{
  background-color: #202020;
}

.navBar{
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 10px 0;
}

.navBar-logo{
  position: relative;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  transition: .6s;
}

.navBar-list{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navBar-item{
  position: relative;
  list-style: none;
}

.navBar-item a{
  position: relative;
  margin-left: 20px;
  text-decoration: none;
  color: #fff;
  transition: .2s;
}

.router-link-active{
  font-weight: 700;
}

.navBar-item a:hover{
  opacity: 0.6;
}

