/* You can add global styles to this file, and also import other style files */
html, p{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: #ffffff;
  background-color: #202020;
  margin: 0;
  padding: 0;
}

.container{
  max-width: 1520px;
  margin: 0 auto;
}
