<div class="book-list">
  <div class="container">
    <div class="book-list-genre">
      <div class="book-list-genre-title"><b>{{genreName}}</b></div>
      <br>
      <div class="book-list-genre-details" *ngFor="let book of books">
        {{book.title}}
        {{book.ageRating}}+
        {{book.bookYear}}
        <br>
        {{book.author}}
        <br>
        Description: {{book.description}}
        <br>
        <b>Genre:</b>
        <div class="recommended-book-genre" *ngFor="let item of book.genreDTOS">{{item.name}}</div>
        <b>Views:</b> {{book.viewCount}}
        <br><br>
      </div>
    </div>
    <hr>
  </div>
</div>
